<!DOCTYPE html>
<html lang="en">
<head>
       <title>Document</title>
</head>
<body>
    <h1>BÀI THƠ CHỈ CÓ THỂ LÀ MẸ</h1>
    <div style="font-style: oblique; margin-bottom: 20;">Thơ: Đặng Minh Khai</div>

    <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
     <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
     <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
     <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
     <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
     <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
     <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
     <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
     <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
     <div>
        Nắng dần tắt trên con đường nhỏ
    </div>
</body>
</html>